.tabList {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    transition: all 1.2s ease;
}

.tab {
    display: inline-block;
    width: 100px;
    background-color: var(--color-xxlight);
    cursor: pointer;
}

.tab a {
    display: block;
    padding: 0.5em 1em;
    color: var(--color-dark);
    text-decoration: none;
}

.tab a:hover {
    color: var(--color-dark);
}

.selected {
    color: var(--color-dark);
    background-color: var(--color-xlight);
}
