.zoomContainer {
    position: fixed;
    top: 40px;
    width: 70%;
    height: 100%;
    right: 0;
    text-align: center;
}

.image {
    padding-top: 3em;
    max-width: 80%;
    max-height: 80%;
}
