.tablist {
    text-align: center;
    border-bottom: 1px solid var(--color-light);
}

.tab {
    display: inline-block;
    padding: 1em 1.8em;
    background-color: var(--color-xlight);
}

.tab a {
    color: gray;
    text-decoration: none;
}

.tab a:hover {
    color: var(--color-dark);
}

.selected {
    color: var(--color-dark);
    background-color: var(--color-light);
}
