.footer {
  background: var(--color-xxlight);
}

.container {
  background: var(--color-xxdark);
  color: var(--color-light);
  padding: 1em 0 0.4em;
  text-align: center;
}

.text {
  display: block;
  padding-bottom: 1em;
  font-size: var(--font-size-minus);
  letter-spacing: 0.3rem;
}

.link {
  display: block;
  color: var(--link-color-light);
  font-size: var(--font-size-current-plus);
  padding: 1.2em 0;
}

.dot {
  display: none;
}

@media (--sm) {
  .container {
    padding: 1.5em 0;
  }

  .text {
    letter-spacing: 0.7rem;
  }

  .link {
    letter-spacing: 0.4rem;
    display: inline;
    padding: 2px 5px;
  }

  .dot {
    display: initial;
  }

  .link:hover,
  .homeLink:hover {
    color: var(--color-light);
  }
}

@media (--md) {
  .container {
    padding-left: var(--aside-width-md);
  }
}

@media (--xlg) {
  .container {
    padding-left: var(--aside-width);
  }
}
