/* @custom-media --xs (width >= 480px);  phone */
@custom-media --sm (width >= 765px); /* ipad */
@custom-media --md (width >= 992px); /* ipad plus */
@custom-media --lg (width >= 1200px); /* 13' */
@custom-media --xlg (width >= 1600px); /* > 15' */

:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-weight: 100;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;
  --max-content-form: 25em;
  --nav-height: 40px;

  /*
   * Padding
   * ======================================================================== */

  --side-padding: 1.6em;
  --main-top-padding-mobile: 3em;
  --main-top-padding: 40px;
  --main-bottom-padding: 6em;
  --main-side-padding-mobile: 1em;
  --main-side-padding: 5em;
  --main-side-padding-large: 6em;
  --mainHome-side-padding: 3em;
  --mainHome-bottom-padding: 2em;

  /*
   * Colors
   * ======================================================================== */

  --color-xxlight: #fdfcfc;
  --color-xlight: #f3eeea;
  --color-light: #e7e4d7;
  --color-medium: #aaa;
  --color-dark: #776e65;
  --color-xdark: #555;
  --color-xxdark: #333;

  --color-light-brown: #cabeaf;
  --color-medium-brown: #7b6a58;
  --color-dark-brown: #574530;
  --color-xdark-brown: #453322;

  --link-color-light: #d1bb9f;
  --link-color: #997964;
  --link-color-dark: #8d6246;
  --link-color-xdark: #765e3f;
  /*
   * Font size
   * ======================================================================== */
  --font-size-header-sm-mobile: 1.2em;
  --font-size-header-md-mobile: 1.7em;
  --font-size-header: 1.9em;
  --font-size-tab: 20px;
  --font-size-nav: 17px;
  --font-size-current-title: 15px;
  --font-size-current-plus-plus: 14px;
  --font-size-current-plus: 13px;
  --font-size-current: 12px;
  --font-size-minus: 11px;

  /*
   * Form
   * ======================================================================== */
  --admin-button-width: 25%;

}
